/**
 * Minimalist CSS reset:
 * - remove all padding and margin,
 * - set all font sizes to 1em,
 * - use "quirky" box model.
 **/
*,
*::before,
*::after {
  font-size: inherit;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
